.back_button {
    line-height: 1rem;
    color: #000;
}
.home_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
    font-size: 1.3rem;
}
.back_button:not(.cl-button) {
    font-size: 1rem;
    color: #000;
    background: #FFF;
    box-shadow: none;
    padding: 0.5rem;
    line-height:0;
    transition: box-shadow 0.4s ease;
}
.my_profile_button:not(.cl-button) {
    font-size: 1.2rem;
}
.back_button:hover:not(.cl-button) {
    background: #F8F8F8;
    box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.3);
}
.page_header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    background: #FFF;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.2);
}