.outer_page {
    padding: 1rem;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.page {
    width: 100%;
    top: 0;
}
.org_page_header {
    font-size: 1.2rem;
    font-weight: bold;
}
ul {
    margin: 0;
}
.horizontal {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.horizontal-maybe {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: flex-start;
}

@media screen and (max-width: 1280px) {
    .horizontal-maybe {
        flex-direction: column;
    }

}