.org_listing {
    display: flex;
    flex-direction: column;
    width: 20rem;  
    min-width: 20rem; 
    background: #fff;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.2);
    justify-content: space-between;
    gap: 0.5rem;
}
.org_pfp {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 35%;   
    padding: 0.2rem;
    outline: 0.15rem solid #aaa;
}
.org_name {
    font-size: 1.5rem;
    font-weight: bold;
}
.org_short_desc {
    line-height: 1.1em;
}
.org_listing > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.orgs_list {
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}
.toggle_save {
    margin-right: 0.5rem;
}
.external_log:not(.cl-button), .toggle_save:not(.cl-button), .log_hours_btn:not(.cl-button) {
    background: #EEE;
    color: #000;
}
.external_log:not(.cl-button):hover, .toggle_save:hover:not(.cl-button), .log_hours_btn:hover:not(.cl-button) {
    background: #DDD;
}
.org_listing button {
    font-weight: bold;
}
.home_buttons {
    max-width: 20rem ;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.home_buttons button {
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
}
.home_buttons > .horizontal {
    width: 100%;
    gap: 0.5rem;
}
.home_buttons > .horizontal > * {
    width: 100%;
    display: block;
}
#home.page {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#home .horizontal-wrap {
    justify-content: center;
    align-items: center;

}
.profile_info h2 {
    margin: 0;
}
