.org_page_outer {
    padding: 1rem;
    width: 100vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.org_page{
    max-width: 40rem;
}
.org_page_header {
    font-size: 1.2rem;
    font-weight: bold;
}
ul {
    margin: 0;
}
.org_buttons {
    width: 100%;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.2rem;
}
.org_buttons > button {
    font-weight: bold;
}
.horizontal {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.org_desc {
    padding-top: 1rem;
}
.org_page_  short_desc {
    font-size: 1.3rem;
    font-weight: bold;
}
.back_button {
    background: white;
    padding: 1rem;
    line-height:0;
}
.back_button:hover {
    background: #EEE;
}
.page_header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    align-items: center;
    margin-bottom: 0.6rem;
}