.org_buttons {
    width: 100%;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.2rem;
}
.org_buttons > button {
    font-weight: bold;
}
.org_desc {
    padding-top: 1rem;
}
.org_page_  short_desc {
    font-size: 1.3rem;
    font-weight: bold;
}